<template>
  <div>hello world</div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'MyComponent',
  mounted() {
    console.log('mounted');
  },
});
</script>
