<template>
  <div id="app">
    <MyComponent></MyComponent>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import MyComponent from '../components';

export default Vue.extend({
  name: 'App',
  components: {
    MyComponent,
  },
});
</script>
